// TODO

.post {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: block;
  align-items: center;

  h1 {
    padding-top: 3rem;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .icon {
    margin-right: 0.5rem;
  }

  span,
  time {
    margin-right: 1rem;
  }

  .edit {
    padding: 1rem 0 2rem;
    font-style: italic;
  }
}

.img {
  width: 100%;
}

.article {
  padding-bottom: 3rem;

  h1 {
    padding: 2rem 0;
    font-weight: bold;
    font-size: 2.5rem;
  }

  body {
    font-size: 2rem;
  }
}

.navigation {
  border-top: 1px solid var(--gray-300);
  padding: 3rem 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  h3 {
    font-weight: 400;
  }

  a {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: -0.5px;
    color: var(--pink-500);

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
  div + div {
    text-align: right;
  }
}
